<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>CVLab</title>

  <meta name="author" content="Sangryul Jeon">
  <meta name="description" content="<b>C</b>omputer <b>V</b>ision Laboratory">

  <link rel="alternate" type="application/rss+xml" title="CV Lab @ PNU - visual correspondences" href="/feed.xml">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- Slick Carousel CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="CVLab">
  <meta property="og:description" content="<b>C</b>omputer <b>V</b>ision Laboratory">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://pnu-computer-vision-lab.io/">
  <link rel="canonical" href="http://pnu-computer-vision-lab.io/">
  <meta property="og:image" content="https://raw.githubusercontent.com/pnu-computer-vision-lab/pnu-computer-vision-lab.github.io/main/img/logo_textwith.png">

  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@yourname">
  <meta name="twitter:creator" content="@yourname">
  <meta name="twitter:title" content="CVLab">
  <meta name="twitter:description" content="<b>C</b>omputer <b>V</b>ision Laboratory">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/pnu-computer-vision-lab/pnu-computer-vision-lab.github.io/main/img/logo_textwith.png">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
        <!-- Navbar content -->
    </nav>

    <!-- Header -->
    <header class="header-section">
        <div class="intro-header no-img">
            <!-- Header content -->
        </div>
    </header>

    <!-- Main Content -->
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- 슬라이더 추가 -->
                <div class="slider">
                    <div><img src="https://raw.githubusercontent.com/pnu-computer-vision-lab/pnu-computer-vision-lab.github.io/main/img/main_1.jpg" alt="KCCV 2024"></div>
                    <!-- 다른 슬라이드 내용들 -->
                </div>
                <!-- 기타 내용 -->
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <!-- Footer content -->
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Slick Carousel JS -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Slick Carousel 초기화 -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                adaptiveHeight: true
            });
        });
    </script>
</body>
